$color-black: #000;
$color-black2: #333;
$color-black3: #040b1b;
$color-gray: #868686;
$color-white: #fff;
$color-blue: #1f5dea;

@mixin P-Absolute($top, $left) {
  position: absolute;
  top: $top;
  left: $left;
}

* {
  font-family: "Nunito", sans-serif;
}

/* CSS Tags */
body {
  color: #333;
  background-color: $color-white;
}

a {
  color: $color-black;
  transition: 0.4s;
  &:hover {
    color: $color-black;
    text-decoration: none;
  }
}

/* CSS Bootstrap */
button.btn.btn-primary.btn-lg {
  font-size: 14px;
  background-color: $color-blue;
  padding: 9px 28px;
  &:hover {
    background-color: $color-black;
    border-color: $color-black;
  }
  &:focus {
    outline: 0;
    box-shadow: none;
  }
}

.form-group .form-control:focus {
  box-shadow: none;
}

/* CSS Header */
.header {
  &__navbar {
    padding: 2rem 0;
    .nav-link {
      color: $color-black !important;
      font-size: 17px;
      transition: 0.4s;
      &:hover {
        color: $color-blue !important;
      }
      .badge-pill {
        font-size: 9px;
        border-radius: 4px;
        padding: 4px;
        transform: translateY(-9px);
        background-color: #4174bb;
      }
    }
    .navbar-brand img {
      width: 119px;
      margin-left: 20px;
    }
    .navbar-toggler {
      padding: 7px 10px;
      height: 100%;
      &:focus {
        outline: 0;
      }
      .fa.fa-bars {
        font-size: 15px;
        color: $color-black;
      }
    }
    &__menu {
      .dropdown-menu {
        background: #ffffff;
        border: 1px solid #ffffff;
        box-shadow: 0 2px 5px -2px rgba(0, 0, 0, 0.15),
          0px 5px 17px -2px rgba(0, 0, 0, 0.15);
        .dropdown-submenu {
          position: relative;
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 100%;
          padding: 0.3rem 1.5rem;
          clear: both;
          font-weight: 400;
          color: #212529;
          text-align: inherit;
          white-space: nowrap;
          background-color: transparent;
          border: 0;
          a:hover {
            color: $color-blue;
          }
          .dropdown-menu {
            top: -9px;
            left: 100%;
            li {
              display: block;
              width: 100%;
              padding: 0.3rem 1.5rem;
              padding-right: 6rem;
              clear: both;
              font-weight: 400;
              color: #212529;
              text-align: inherit;
              white-space: nowrap;
              background-color: #fff;
              border: 0;
              &:hover a {
                color: $color-blue;
              }
            }
          }
          &.dropdown-submenu-toggle:after {
            content: "";
            float: right;
            height: 5px;
            margin-left: 14px;
            border: solid black;
            border-width: 0px 0.5px 0.5px 0;
            display: inline-block;
            padding: 2px;
            transform: rotate(-45deg);
          }
        }
      }
      .nav-item {
        padding: 0 11px;
        &.active .nav-link {
          color: $color-blue !important;
        }
      }
    }
    &__social {
      flex-direction: row;
      i.fa {
        font-size: 17px;
      }
    }
    &__search {
      position: relative;
      display: flex;
      align-items: center;
      &:hover {
        .header__navbar__search__form {
          width: 195px;
        }
      }
      &__form {
        position: absolute;
        right: 31px;
        width: 0;
        overflow: hidden;
        transition: all 0.4s ease;
        .form-control {
          border-radius: 9px;
        }
      }
    }
  }
  &__topbar {
    .nav-link {
      font: {
        size: 12px;
        weight: 500;
      }
      color: $color-black2 !important;
      transition: 0.4s;
      &:hover {
        color: $color-blue !important;
      }
    }
  }
}

/* CSS Post */
.post {
  &__wrapper {
    width: 100%;
    height: 240px;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
    &:hover .post__wrapper__image {
      transform: scale(1.1);
    }
    &__image {
      display: block;
      height: 100%;
      background: {
        size: cover;
        position: 50% 50%;
      }
      border-radius: 5px;
      transition: 0.8s;
    }
    &__icon {
      width: 64px;
      height: 64px;
      color: $color-white;
      font-size: 24px;
      @include P-Absolute(50%, 50%);
      transform: translate(-50%, -50%);
      border: 3px solid $color-white;
      border-radius: 50%;
      background-position: center center;
      background-repeat: no-repeat;
      text-align: center;
      line-height: 58px;
    }
    &__rating {
      background-color: $color-blue;
      color: $color-white;
      line-height: 21px;
      position: absolute;
      top: 7%;
      right: 3%;
      padding: 12px 10px 10px 11px;
      border-radius: 50%;
      z-index: 10;
    }
    &__categories {
      @include P-Absolute(12%, 8%);
      z-index: 10;
    }
  }
  &__details {
    margin-top: 1.5rem;
    &__title {
      color: $color-black3;
      display: block;
      font-size: 23px;
      font-weight: 700;
      transition: 0.4s;
      &:hover {
        color: $color-blue;
      }
    }
    &__info {
      display: inline-flex;
      color: $color-gray;
      margin: 18px 0;
      align-items: center;
      font-size: 14px;
      &__author {
        display: inline-flex;
        align-items: center;
        a {
          color: $color-gray;
          transition: 0.4s;
          &:hover {
            color: $color-blue;
          }
        }
        &__image {
          width: 25px;
          border-radius: 50%;
          margin-right: 10px;
        }
      }
    }
    &__excerpt {
      font-size: 16px;
      font-weight: 400;
      color: hsla(0, 0%, 44%, 1);
      line-height: 30px;
    }
    &__bottom {
      font-size: 14px;
      display: flex;
      justify-content: space-around;
      padding: 9px 0;
      margin-top: 20px;
      &__social {
        width: 50%;
        text-align: center;
        a {
          transition: 0.4s;
          &:hover {
            color: $color-blue;
          }
          i.fa {
            margin-right: 7px;
          }
        }
      }
      &__info {
        width: 50%;
        text-align: center;
      }
    }
  }
  &__col2 {
    display: flex;
    margin-bottom: 6px;
  }
  &.post--col2 {
    .post__wrapper {
      width: 60%;
      height: 77px;
      margin-right: 24px;
      margin-top: 6px;
    }
    .post__details {
      width: 90%;
      &__title {
        font-size: 17px;
      }
    }
  }
  &.post--image {
    position: relative;
    .post__wrapper {
      &:hover .post__wrapper__image {
        transform: scale(1);
      }
      &:after {
        content: "";
        width: 100%;
        height: 100%;
        @include P-Absolute(0, 0);
        background-color: hsla(0, 0%, 0%, 0.36);
        z-index: 5;
        transition: 0.4s;
      }
      &__categories {
        top: 32%;
        left: 50%;
        transform: translateX(-50%);
      }
    }
    .post__details {
      @include P-Absolute(50%, 50%);
      text-align: center;
      width: 56%;
      transform: translate(-50%, -50%);
      z-index: 10;
      &__title {
        font-size: 33px;
      }
      &__info {
        margin: 0;
        margin-top: 10px;
      }
    }
  }
}

/* CSS Footer */
.footer {
  font-size: 18.2px;
  color: $color-gray;
  &__title-list {
    font-size: 17px;
    font-weight: 300;
  }
  &__list {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
    a {
      display: block;
      font-weight: 800;
      transition: 0.4s;
      margin-bottom: 10px;
      &:hover {
        color: $color-gray;
      }
    }
    &.footer__list--social a {
      display: inline-block;
      margin-right: 9px;
    }
  }

  &__back-to-top {
    position: fixed;
    bottom: 11%;
    right: 5%;
    color: $color-white;
    background-color: $color-black;
    padding: 9px 17px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.4s;
    &:hover {
      color: $color-white;
      background-color: $color-blue;
    }
  }

  &__description {
    font-size: 16px;
    line-height: 32px;
  }

  &__copyright {
    font-size: 15px;
  }

  &__logo {
    width: 165px;
  }
}

/* CSS Widget */
.widget {
  &__title {
    font-size: 21px;
    font-weight: 700;
    padding-bottom: 20px;
    border-bottom: 1.5px solid #dee2e6;
    margin-bottom: 30px;
  }
  &__social {
    list-style-type: none;
    padding: 0;
    li {
      display: inline-block;
    }
    &__item {
      color: $color-white;
      background-color: $color-black;
      font-size: 15px;
      padding: 10px 18px 8px 18px;
      border-radius: 5px;
      margin-right: 10px;
      transition: 0.4s;
      &:hover {
        color: $color-white;
        background-color: $color-blue;
      }
    }
  }
  &__categories {
    list-style-type: none;
    padding: 0;
    &__item {
      display: flex;
      justify-content: space-between;
      color: $color-white !important;
      background-color: $color-blue;
      font-size: 13px;
      padding: 18px;
      border-radius: 5px;
      margin-top: 5px;
      transition: 0.4s;
      &:hover {
        background-color: $color-black !important;
      }
    }
  }
  &__post {
    list-style-type: none;
    padding: 0;
    .post__wrapper {
      height: 167px;
    }
    .post.post--col2 {
      margin-bottom: 12px;
      .post__details__info {
        margin: 6px 0;
      }
    }
  }
}

/* CSS Sidebar */
.sidebar {
  .post {
    margin-bottom: 24px;
    &__details {
      margin-top: 0.5rem;
      &__date {
        font-size: 13.7px;
        margin-top: 0.3rem;
        color: $color-gray;
      }
      &__title {
        font-size: 19px;
        letter-spacing: -1px;
      }
    }
  }
}

/* CSS Carousel */
.carousel {
  .post__wrapper {
    &__categories {
      width: 90%;
      position: relative;
      text-align: right;
    }
  }
  .post__details {
    font-size: 11px;
    margin-top: 0;
    font-weight: 300;
    letter-spacing: 2px;
    &__title {
      font-size: 16px;
      font-weight: 500;
    }
    &__info {
      display: block;
      text-align: right;
      &__author,
      &__date {
        display: inline-block;
        margin-top: 6px;
      }
    }
  }
}

/* CSS LoadMore */
.loadMore {
  display: block;
  margin: auto;
  font-size: 13px;
  padding: 10px 30px;
  text-transform: uppercase;
  background-color: #dfe6f2;
  border-radius: 5px;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.4s;
  &:hover {
    color: $color-white;
    background-color: $color-blue;
  }
}

.block__title {
  font: {
    size: 28px;
    weight: 700;
  }
}

/* CSS Mobile */
@media (max-width: 992px) {
  .header__navbar__social .nav-item {
    margin: 0 4px;
  }
  .post.post--image {
    .post__details {
      width: 75%;
      &__info,
      a {
        font-size: 14px;
        color: $color-white !important;
      }
      &__title {
        font-size: 22px !important;
      }
    }
  }
  .carousel .post__details__title {
    font-size: 13px;
  }
}

@media (min-width: 768px) {
  .container-fluid {
    padding-right: 60px;
    padding-left: 60px;
  }

  .post__wrapper {
    height: 245px;
  }
}

.post.post--image:hover .post__wrapper:after {
  background-color: hsla(0, 0%, 0%, 0.58);
}

.post.post--image .post__details__title,
.post.post--image .post__details__info,
.post.post--image a {
  color: $color-white !important;
}

.post__wrapper__categories a,
.post__categories a {
  letter-spacing: 1px;
  font-size: 11px;
  font-weight: 500;
  color: $color-white;
  padding: 3px 9px;
  border-radius: 5px;
  text-transform: uppercase;
}
