* {
}

.block .post {
    margin-bottom: 3rem;
}

.block__title {
    font-size: 32px;
    font-weight: 700;
}

.sidebar .post__details__date {
    margin-top: .3rem;
    color: #868686;
}

.sidebar .post {
    margin-bottom: 24px;
}

.sidebar .post__details {
    margin-top: .5rem;
}

.post__details__excerpt {
  font-size: 18.5px;
  font-weight: 400;
  color: hsla(0, 0%, 44%, 1);
  padding: 0 2.5rem;
}

.post__details__info {
  display: inline-flex;
  color: #868686;
  margin: 18px 0;
  align-items: center;
}

.post__details__info__author__image {
  width: 25px;
  border-radius: 50%;
  margin-right: 10px;
}

.post__details__info__author {
  display: inline-flex;
  align-items: center;
}

.post__details__info__author a {
  color: #868686;
  transition: .4s;
}

.post__details__info__author a:hover {
    color: #1f5dea;
}

a {
  color: #000;
}

a:hover {
  color: #000;
  text-decoration: none;
}

.post__details__title {
  color: #040b1b;
  display: block;
  font-size: 25px;
  font-weight: 700;
  transition: .4s;
}

.sidebar .post__details__title {
    font-size: 21px;
    letter-spacing: -1px;
}

.post__details__title:hover {
    color: #1F5DEA;
}

.post__details {
  margin-top: 2rem;
}

.post__wrapper_icon {
  color: white;
  font-size: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 11px 15px 8px 20px;
  border: 3px solid;
  border-radius: 50%;
}

.post__wrapper__rating {
  background-color: #1f5dea;
  color: white;
  line-height: 21px;
  position: absolute;
  top: 7%;
  right: 3%;
  padding: 9px 9px 8px 9px;
  border-radius: 50%;
}

.post__wrapper__categories {
  position: absolute;
  top: 12%;
  left: 8%;
}

.post__wrapper__categories a, .post__categories a {
  letter-spacing: 1px;
  font-size: 12.5px;
  font-weight: 500;
  color: white;
  padding: 3px 9px;
  border-radius: 5px;
  text-transform: uppercase;
}

.post__wrapper__image {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  transition: 0.8s;
}

.post__wrapper:hover .post__wrapper__image {
  transform: scale(1.1);
}

.post__wrapper {
  width: 100%;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
}

.header__navbar .navbar-toggler .fa {
  color: #000;
}

.header__navbar__social {
  flex-direction: row;
}

.header__navbar .header__navbar__menu .nav-item {
  padding: 0 11px;
}

.header__navbar .nav-link {
  color: #000 !important;
  font-size: 19px;
  transition: 0.4s;
}

.header__navbar .nav-link:hover {
  color: #1f5dea !important;
}

.header__navbar .nav-link .badge-pill {
  font-size: 11px;
  border-radius: 4px;
  padding: 4px;
  transform: translateY(-9px);
}

.header__navbar .navbar-brand img {
  width: 136px;
  margin-left: 20px;
}

.header__navbar {
  padding: 2rem 0;
}

body {
  color: #333333;
  background-color: #ffffff;
  font-family: "Nunito", sans-serif;
}

@media (max-width: 992px) {
  .header__navbar__social .nav-item {
    margin: 0 8px;
  }
}

@media (min-width: 768px) {
  .container-fluid {
    padding-right: 60px;
    padding-left: 60px;
  }
  .post__wrapper {
    height: 245px;
  }
}

.header__topbar .nav-link {
  font-size: 13.5px;
  font-weight: 500;
  color: #333333 !important;
  transition: 0.4s;
}

.header__topbar .nav-link:hover {
  color: #1f5dea !important;
}
